.ul-reset {
  margin: 0;
  padding: 0;
  list-style-type: none; }

button {
  border: none; }

textarea {
  resize: none; }

img {
  display: block; }

.icon {
  display: block;
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat; }

.icon-icecream {
  width: 49px;
  height: 49px;
  background-position: -5px -417px; }

.icon-leaf {
  width: 49px;
  height: 49px;
  background-position: -5px -518px; }

.icon-cow {
  width: 48px;
  height: 49px;
  background-position: -5px -293px; }

.icon-thermometer {
  width: 48px;
  height: 49px;
  background-position: -5px -719px; }

.icon-twitter {
  width: 33px;
  height: 32px;
  background-position: -5px -778px; }

.icon-instagram {
  width: 32px;
  height: 32px;
  background-position: -5px -476px; }

.icon-facebook {
  width: 32px;
  height: 32px;
  background-position: -5px -352px; }

.icon-vk {
  width: 32px;
  height: 32px;
  background-position: -5px -820px; }

.icon-heart {
  width: 15px;
  height: 13px;
  background-position: -5px -394px; }

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  padding: 9px 14px;
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #d3d3d2;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #333;
  background-color: #fff;
  outline: none; }

input[type="text"]:hover,
input[type="email"]:hover,
input[type="password"]:hover,
textarea:hover {
  border: 1px solid #c7c6c5;
  -webkit-box-shadow: inset 0 0 0 1px #c7c6c5;
  box-shadow: inset 0 0 0 1px #c7c6c5; }

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
  border: 1px solid #8fbdec;
  -webkit-box-shadow: inset 0 0 0 1px #8fbdec;
  box-shadow: inset 0 0 0 1px #8fbdec; }

:-ms-input-placeholder {
  font-weight: 400;
  color: #9b9b9b; }

:-moz-placeholder {
  font-weight: 400;
  color: #9b9b9b; }

::-webkit-input-placeholder {
  font-weight: 400;
  color: #9b9b9b; }

::-moz-placeholder {
  font-weight: 400;
  color: #9b9b9b; }

:focus:-ms-input-placeholder {
  color: transparent; }

:focus:-moz-placeholder {
  color: transparent; }

:focus::-webkit-input-placeholder {
  color: transparent; }

:focus::-moz-placeholder {
  color: transparent; }

.light-link {
  text-decoration: underline;
  color: #fff !important; }
  .light-link:hover, .light-link:active {
    color: #ffbc9e !important; }

.dark-link {
  text-decoration: underline;
  color: #333 !important; }
  .dark-link:hover, .dark-link:active {
    color: #ec593c !important; }

.btn {
  display: inline-block;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  background: #e74b36;
  background: -webkit-gradient(linear, left bottom, left top, from(#e74b36), to(#f26843));
  background: -webkit-linear-gradient(bottom, #e74b36, #f26843);
  background: linear-gradient(to top, #e74b36, #f26843);
  border-bottom: 2px solid rgba(172, 16, 0, 0.64);
  cursor: pointer; }
  .btn:hover {
    background: #ec6f5e;
    background: -webkit-gradient(linear, left bottom, left top, from(#ec6f5e), to(#f58669));
    background: -webkit-linear-gradient(bottom, #ec6f5e, #f58669);
    background: linear-gradient(to top, #ec6f5e, #f58669);
    border-bottom: 2px solid #ac1000; }
  .btn:active {
    background: #e1613e;
    background: -webkit-gradient(linear, left bottom, left top, from(#e1613e), to(#d74632));
    background: -webkit-linear-gradient(bottom, #e1613e, #d74632);
    background: linear-gradient(to top, #e1613e, #d74632);
    border-bottom: none;
    border-top: 2px solid #942718; }

.btn-large {
  padding: 0 50px;
  font-size: 32px;
  line-height: 63px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76); }

.btn-medium {
  padding: 0 22px;
  font-size: 18px;
  line-height: 44px;
  -webkit-border-radius: 22px;
  border-radius: 22px; }

.btn-small {
  padding: 9px 30px;
  font-size: 15px;
  line-height: 17px;
  -webkit-border-radius: 18px;
  border-radius: 18px; }

.container {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 1200px;
  min-width: 900px;
  padding: 0 27px;
  margin: 0 auto; }

.row {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: -13px;
  margin-right: -13px; }

.col-2,
.col-4 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin: 0;
  padding: 0 13px; }

.col-2 {
  width: 50%; }

.col-4 {
  width: 25%; }

body {
  position: relative;
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #fff; }
  body .body-bg-icecream-wrap,
  body .body-bg-icecream {
    width: 100%;
    height: 100%; }
  body .body-bg-icecream-wrap {
    content: '';
    position: absolute;
    z-index: -100;
    top: 0;
    left: 0; }
  body.body-bg-1 {
    background-color: #849d8f; }
    body.body-bg-1 .body-bg-icecream {
      background: url("../img/slider-icecream-1.png") no-repeat center top; }
  body.body-bg-2 {
    background-color: #8996a6; }
    body.body-bg-2 .body-bg-icecream {
      background: url("../img/slider-icecream-2.png") no-repeat center top; }
  body.body-bg-3 {
    background-color: #9d8b84; }
    body.body-bg-3 .body-bg-icecream {
      background: url("../img/slider-icecream-3.png") no-repeat center top; }

.header {
  position: relative;
  padding-top: 23px;
  color: #fff; }
  .header a {
    color: #fff; }

.logo {
  position: absolute;
  top: -14px;
  left: 21px; }
  .logo .logo-link {
    display: block; }
  .logo .logo-img {
    width: 154px;
    height: 64px; }

.header-list, .navigation-list, .user-block {
  font-size: 0; }
  .header-list > li, .navigation-list > li, .user-block > li {
    position: relative;
    display: inline-block;
    vertical-align: top;
    line-height: 32px; }
    .header-list > li:before, .navigation-list > li:before, .user-block > li:before {
      content: none;
      position: absolute;
      left: 0;
      top: 31px;
      display: block;
      height: 9px;
      width: 100%; }
    .header-list > li:hover:before, .navigation-list > li:hover:before, .user-block > li:hover:before {
      content: ''; }
    .header-list > li > a, .navigation-list > li > a, .user-block > li > a {
      display: block;
      -webkit-border-radius: 14px;
      border-radius: 14px; }

.header-slidedown {
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.4s;
  transition: height 0.4s;
  position: absolute;
  top: 37px;
  z-index: 10;
  background-color: #f8f7f4;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 4px;
  border-radius: 4px; }

.navigation-list {
  float: left;
  margin-left: 164px; }
  .navigation-list .navigation-item {
    font-size: 16px; }
    .navigation-list .navigation-item:hover .navigation-link {
      text-decoration: none;
      color: #333;
      background-color: #f8f7f4; }
    .navigation-list .navigation-item:hover .navigation-submenu {
      height: 162px; }
  .navigation-list .navigation-link {
    padding: 0 14px;
    font-weight: 700; }
    .navigation-list .navigation-link:active {
      text-decoration: none;
      color: #333;
      background-color: #f8f7f4;
      -webkit-box-shadow: inset 0 2px 1px 0 #696969;
      box-shadow: inset 0 2px 1px 0 #696969; }
    .navigation-list .navigation-link.active {
      text-decoration: none;
      color: #fff;
      background-color: #d07058; }

.navigation-submenu {
  left: -7px; }
  .navigation-submenu .submenu-title,
  .navigation-submenu a {
    display: block;
    font-size: 14px;
    color: #333; }
  .navigation-submenu .submenu-title {
    margin: 0 6px;
    padding: 11px 15px;
    font-weight: 700;
    line-height: 16px;
    border-bottom: 1px solid #d1d0ce; }
  .navigation-submenu a {
    margin: 2px 0;
    padding: 0 21px;
    line-height: 28px;
    text-decoration: none;
    white-space: nowrap;
    color: #333; }
    .navigation-submenu a:hover {
      background-color: #fbded7; }
    .navigation-submenu a:active {
      background-color: #f6b5a5; }
    .navigation-submenu a.active {
      background-color: #d07058; }

.user-block {
  float: right; }
  .user-block .user-block-item {
    font-size: 14px;
    margin-left: 10px; }
    .user-block .user-block-item:hover .user-block-link {
      color: #333;
      background-color: #f8f7f4; }
    .user-block .user-block-item:hover .link-search::before {
      background-position: -5px -691px; }
    .user-block .user-block-item:hover .link-login::before {
      background-position: -5px -606px; }
    .user-block .user-block-item:hover .link-cart::before {
      background-position: -5px -263px; }
    .user-block .user-block-item:hover .link-cart-filled::before {
      background-position: -5px -233px; }
    .user-block .user-block-item:hover .search-block {
      height: 74px;
      z-index: 101; }
    .user-block .user-block-item:hover .login-block {
      height: 185px;
      z-index: 101; }
    .user-block .user-block-item:hover .cart-block {
      height: 240px;
      z-index: 101; }
  .user-block .user-block-link {
    position: relative;
    padding-right: 16px;
    text-decoration: none;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.2); }
    .user-block .user-block-link::before {
      content: '';
      position: absolute;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
      background-image: url("../img/spritesheet.png");
      background-repeat: no-repeat; }
  .user-block .link-search {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 32px;
    height: 32px; }
    .user-block .link-search::before {
      left: 8px;
      width: 17px;
      height: 17px;
      background-position: -5px -664px; }
  .user-block .link-login {
    padding-left: 44px; }
    .user-block .link-login::before {
      left: 14px;
      width: 21px;
      height: 19px;
      background-position: -5px -577px; }
  .user-block .link-cart {
    min-width: 56px;
    padding-left: 44px; }
    .user-block .link-cart::before {
      left: 14px;
      width: 21px;
      height: 20px;
      background-position: -5px -173px; }
  .user-block .link-cart-filled::before {
    background-position: -5px -203px; }

.search-block {
  right: 0; }
  .search-block input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 240px;
    margin: 15px; }

.login-block {
  right: 0; }
  .login-block .login-block-form {
    padding: 20px 15px 15px; }
  .login-block input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: 240px;
    margin-bottom: 10px; }
  .login-block .btn {
    float: left;
    margin-top: 5px; }
  .login-block a {
    display: block;
    padding-left: 120px;
    font-size: 13px;
    line-height: 23px; }

.cart-block {
  right: 0; }
  .cart-block .cart-block-content {
    min-width: 510px;
    padding: 26px 15px 20px;
    font-size: 13px;
    line-height: 16px;
    color: #5a5a5a; }
  .cart-block .cart-block-item {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    min-height: 33px;
    padding-top: 10px;
    padding-left: 73px;
    margin-bottom: 18px; }
  .cart-block .cart-item-remove {
    position: absolute;
    left: 2px;
    top: 12px;
    width: 11px;
    height: 11px;
    cursor: pointer; }
    .cart-block .cart-item-remove::before, .cart-block .cart-item-remove::after {
      content: '';
      position: absolute;
      left: -2px;
      top: 5px;
      width: 15px;
      height: 1px;
      background-color: #333; }
    .cart-block .cart-item-remove::before {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
    .cart-block .cart-item-remove::after {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .cart-block .cart-item-remove:hover::before, .cart-block .cart-item-remove:hover::after {
      background-color: #ffbc9e; }
  .cart-block .cart-item-icon {
    position: absolute;
    top: 0;
    left: 26px;
    width: 33px;
    height: 33px; }
  .cart-block .cart-item-name {
    display: inline-block;
    vertical-align: top;
    width: 220px;
    margin-right: 11px; }
  .cart-block .cart-item-weight {
    display: inline-block;
    vertical-align: top;
    min-width: 110px;
    margin-right: 11px;
    text-align: right; }
  .cart-block .cart-item-price {
    display: inline-block;
    vertical-align: top;
    min-width: 60px;
    text-align: right; }
  .cart-block .cart-block-total-price {
    display: block;
    padding-right: 10px;
    padding-top: 6px;
    margin-bottom: 15px;
    text-align: right;
    font-weight: 700;
    font-size: 15px; }
  .cart-block .btn {
    float: right; }

.phone-block {
  float: right;
  margin-top: 15px;
  clear: both;
  text-align: right; }
  .phone-block span {
    display: block; }
  .phone-block .schedule {
    font-size: 14px;
    font-weight: 700; }
  .phone-block .phone {
    font-size: 22px;
    font-weight: 900; }

.slider {
  margin-bottom: 17px; }
  .slider .slide {
    display: none;
    text-align: center;
    padding-top: 273px; }
  .slider .slide-title {
    margin: 0;
    padding-bottom: 30px;
    width: 100%;
    font-size: 60px;
    line-height: 60px;
    font-weight: 900; }
  .slider .radio {
    display: none; }
  .slider #slider-radio-1:checked ~ .controls .label-1 {
    background-color: #fff; }
  .slider #slider-radio-2:checked ~ .controls .label-2 {
    background-color: #fff; }
  .slider #slider-radio-3:checked ~ .controls .label-3 {
    background-color: #fff; }
  .slider .radio:checked + .slide {
    display: block; }
  .slider .controls {
    position: relative;
    display: inline-block;
    vertical-align: top;
    left: 0;
    bottom: 46px; }
  .slider .label {
    display: block;
    float: left;
    width: 19px;
    height: 19px;
    margin-right: 5px;
    border: 2px solid #fff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer; }
    .slider .label:hover {
      background-color: rgba(248, 247, 244, 0.4); }

.banners {
  margin-bottom: 30px; }

.banner {
  padding: 14px 21px 22px 21px;
  -webkit-border-radius: 12px;
  border-radius: 12px; }
  .banner.banner-raspberry {
    background: url("../img/raspberry.jpg") no-repeat center center; }
  .banner.banner-chocolate {
    background: url("../img/chocolate.jpg") no-repeat center center; }
  .banner .banner-title {
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 35px;
    line-height: 40px; }
  .banner .banner-text {
    margin-top: 15px;
    margin-bottom: 45px;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px; }
  .banner .btn {
    float: right; }

.hits {
  margin-bottom: 30px; }

.card {
  display: block;
  margin-left: -10px;
  margin-right: -10px;
  padding: 10px;
  text-align: center;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer; }
  .card:hover {
    background-color: rgba(248, 247, 244, 0.2);
    -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.3); }
  .card .card-img-wrap {
    position: relative; }
  .card .card-img {
    width: 100%;
    height: auto; }
  .card .card-icon-banner {
    content: '';
    position: absolute;
    top: 0;
    left: 0; }
  .card .icon-hit {
    width: 61px;
    height: 61px;
    background: url("../img/hit.png") no-repeat 0 0; }
  .card .card-price {
    position: absolute;
    left: 0;
    bottom: 1px;
    font-weight: bold;
    line-height: 45px;
    text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5); }
  .card .card-price-fz45 {
    font-size: 45px; }
  .card .card-price-fz30 {
    font-size: 30px; }
  .card .card-price-ruble {
    display: inline-block;
    vertical-align: top;
    width: 36px;
    height: 45px;
    background: url("../img/icon-ruble.png") no-repeat 50% 50%; }
  .card .card-descr {
    display: block;
    margin-top: 13px;
    font-weight: 500;
    color: #fff; }
  .card .card-link {
    display: block;
    margin-top: 13px;
    font-weight: 500;
    color: #fff; }
    .card .card-link:hover, .card .card-link:active {
      color: #ffbc9e; }
  .card .card-btn {
    display: none;
    margin-top: 20px;
    margin-bottom: 10px; }

.about {
  margin-bottom: 40px; }
  .about .about-inner {
    padding: 24px 21px;
    color: #333;
    background: url("../img/wafer.jpg");
    -webkit-border-radius: 12px;
    border-radius: 12px; }
  .about .about-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 30px; }
  .about .about-column {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    width: 50%; }
  .about .about-column-left {
    padding-left: 58px;
    padding-right: 13px; }
  .about .about-column-right {
    padding-left: 71px; }
  .about .about-item-text {
    position: relative;
    margin-top: 20px;
    margin-bottom: 0; }
    .about .about-item-text .icon {
      position: absolute;
      left: -58px;
      top: -14px; }

.news {
  margin-bottom: 40px; }

.news-blog {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 220px;
  padding: 22px 20px 22px 20px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  background: url("../img/bg-news.jpg") no-repeat center center; }
  .news-blog .news-blog-descr {
    display: block;
    margin-bottom: 3px;
    font-weight: 500;
    color: #5a5a5a; }
  .news-blog .news-blog-link {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #333; }
    .news-blog .news-blog-link:hover, .news-blog .news-blog-link:active {
      color: #ec593c; }

.news-delivery {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 220px;
  padding: 6px;
  background: url("../img/bg-delivery.jpg") repeat center center;
  -webkit-border-radius: 12px;
  border-radius: 12px; }
  .news-delivery .news-delivery-inner {
    padding: 28px 21px 35px 21px;
    background-color: #f8f7f4;
    -webkit-border-radius: 12px;
    border-radius: 12px; }
  .news-delivery .news-delivery-descr {
    margin-top: 0;
    margin-bottom: 34px;
    color: #5a5a5a; }
  .news-delivery .news-delivery-email {
    width: 60%; }
  .news-delivery .news-delivery-submit {
    float: right; }

.map {
  width: 100%;
  min-width: 900px;
  height: 430px;
  background: url("../img/map.jpg") no-repeat center center; }

.map-container-content {
  position: relative; }

.map-overlay {
  position: absolute;
  z-index: 100;
  right: 0;
  top: 65px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 302px;
  padding: 28px 25px 30px 25px;
  font-size: 14px;
  line-height: 20px;
  color: #333;
  background-color: #fff;
  -webkit-border-radius: 12px;
  border-radius: 12px; }
  .map-overlay span {
    display: inline-block;
    vertical-align: baseline;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px; }
  .map-overlay .map-addres {
    margin-bottom: 18px; }
  .map-overlay .map-phone {
    margin-top: 3px; }
  .map-overlay .btn {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin-top: 23px; }

.footer {
  padding-top: 35px;
  padding-bottom: 25px; }

.social-btns {
  float: left; }
  .social-btns li {
    float: left;
    margin-right: 11px; }
  .social-btns a {
    display: block;
    border: 4px solid #c2cec7;
    -webkit-border-radius: 100%;
    border-radius: 100%; }
    .social-btns a:hover {
      border-color: #dbe3de;
      -webkit-box-shadow: 0 0 0 1px #dbe3de;
      box-shadow: 0 0 0 1px #dbe3de; }
    .social-btns a:active {
      border-color: #d9e1dd;
      -webkit-box-shadow: 0 0 0 1px #d9e1dd;
      box-shadow: 0 0 0 1px #d9e1dd; }
      .social-btns a:active .icon {
        -webkit-border-radius: 100%;
        border-radius: 100%;
        -webkit-box-shadow: inset 0 2px 2px 0 #9b9b9b;
        box-shadow: inset 0 2px 2px 0 #9b9b9b; }

.copyright-block {
  float: right;
  margin-top: -15px; }
  .copyright-block .html-academy-logo-link {
    display: block; }
  .copyright-block span {
    font-size: 12px;
    line-height: 14px; }

.footer-links-block a {
  display: block;
  font-size: 13px;
  line-height: 22px; }

.footer-links-block-left {
  float: right;
  padding-right: 27px; }
  .footer-links-block-left .link-producer {
    position: relative;
    font-weight: bold; }
    .footer-links-block-left .link-producer .icon {
      position: absolute;
      top: 3px;
      left: -22px; }

.footer-links-block-right {
  float: left;
  margin-left: -21px; }

.screen-overlay {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); }

.feedback-form {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 430px;
  padding: 17px 25px 25px 25px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #f8f7f4;
  -webkit-border-radius: 8px;
  border-radius: 8px; }
  .feedback-form .close-button {
    display: block;
    position: absolute;
    right: 16px;
    top: 16px;
    width: 18px;
    height: 18px;
    cursor: pointer; }
  .feedback-form .close-button::before,
  .feedback-form .close-button::after {
    content: '';
    position: absolute;
    left: -2px;
    top: 8px;
    width: 22px;
    height: 2px;
    background-color: #070707; }
  .feedback-form .close-button::before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
  .feedback-form .close-button::after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .feedback-form .close-button:hover::before,
  .feedback-form .close-button:hover::after {
    background-color: #ffbc9e; }
  .feedback-form .feedback-form-title {
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    color: #333; }
  .feedback-form input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: 267px;
    margin-top: 20px; }
  .feedback-form textarea {
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 155px;
    margin-top: 20px; }
  .feedback-form .btn {
    float: right;
    margin-top: 25px; }

.clearfix::after {
  content: '';
  display: table;
  clear: both; }

/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1100px) {
  /**/
  .news-delivery .news-delivery-email {
    width: 55%; } }

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1000px) {
  /**/
  .news-delivery .news-delivery-email {
    width: 50%; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 900px) {
  /**/ }

/*==========  Mobile First Method  ==========*/
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }
