@import 'bourbon'
@import 'variables'

.ul-reset
	margin: 0
	padding: 0
	list-style-type: none

img
	display: block

.icon
	display: block
	background-image: url(../img/spritesheet.png)
	background-repeat: no-repeat

.icon-icecream
	width: 49px
	height: 49px
	background-position: -5px -417px

.icon-leaf
	width: 49px
	height: 49px
	background-position: -5px -518px

.icon-cow
	width: 48px
	height: 49px
	background-position: -5px -293px

.icon-thermometer
	width: 48px
	height: 49px
	background-position: -5px -719px

.btn
	display: inline-block
	font-weight: bold
	color: $color-white
	text-decoration: none
	background: #e74b36
	background: linear-gradient(to top, #e74b36, #f26843)
	border-bottom: 2px solid rgba(#ac1000, 0.64)
	//box-shadow: 0 3px 3px 0 rgba(#ac1000, 0.64)
	cursor: pointer
	&:hover
		background: #ec6f5e
		background: linear-gradient(to top, #ec6f5e, #f58669)
		border-bottom: 2px solid #ac1000
		//box-shadow: 0 3px 3px 0 #ac1000
	&:active
		background: #e1613e
		background: linear-gradient(to top, #e1613e, #d74632)
		border-bottom: none
		border-top: 2px solid #942718
		//box-shadow: inset 0 3px 3px 0 #942718

.btn-large	
	padding: 0 50px
	font-size: 32px	
	line-height: 63px
	border-radius: 30px
	text-shadow: 0 2px 5px rgba(#a0200b, 0.76)

.btn-medium
	padding: 0 22px
	font-size: 18px
	line-height: 46px
	border-radius: 22px

.btn-small
	padding: 9px 30px
	font-size: 15px
	line-height: 17px	
	border-radius: 18px

body
	position: relative
	font-family: 'Roboto', $helvetica
	font-weight: 400
	font-size: 16px
	line-height: 22px
	color: $color-white
	.body-bg-icecream-wrap,
	.body-bg-icecream
		width: 100%
		height: 100%
	.body-bg-icecream-wrap
		content: ''
		position: absolute
		z-index: -100
		top: 0
		left: 0
	&.body-bg-1 
		background-color: $color-bg-1
		.body-bg-icecream
			background: url('../img/slider-icecream-1.png') no-repeat center top
	&.body-bg-2
		background-color: $color-bg-2
		.body-bg-icecream
			background: url('../img/slider-icecream-2.png') no-repeat center top	
	&.body-bg-3
		background-color: $color-bg-3
		.body-bg-icecream
			background: url('../img/slider-icecream-3.png') no-repeat center top

.container
	position: relative
	box-sizing: border-box
	max-width: 1200px
	min-width: 900px
	padding: 0 $container-padding
	margin: 0 auto

.row
	box-sizing: border-box
	margin-left: -$col-padding
	margin-right: -$col-padding

.col-2,
.col-4
	box-sizing: border-box
	float: left
	margin: 0
	padding: 0 $col-padding

.col-2
	width: 50%

.col-4
	width: 25%

.header
	position: relative
	padding-top: 23px
	//margin-bottom: 531px
	color: $color-white
	a
		color: $color-white

.logo
	position: absolute
	top: -14px
	left: 21px
	.logo-link
		display: block
	.logo-img
		width: 154px
		height: 64px

.header-list
	font-size: 0
	li		
		display: inline-block
		vertical-align: top
		line-height: 32px
	a
		display: block
		border-radius: 14px

.navigation
	@extend .header-list
	float: left
	margin-left: 164px
	li		
		font-size: 16px
	a
		padding: 0 14px
		font-weight: 700
		&:hover,
		&:active
			text-decoration: none
			color: $color-dark-grey
			background-color: $color-white2
		&:active
			box-shadow: inset 0 2px 1px 0 #696969
		&.active
			text-decoration: none
			color: $color-white
			background-color: $color-red

.user-block
	@extend .header-list
	float: right
	li
		font-size: 14px
		margin-left: 10px
	a
		position: relative
		padding-right: 16px
		text-decoration: none
		font-weight: 500
		background-color: transparentize($color-white, 0.8)		
		&:hover
			color: $color-dark-grey
			background-color: $color-white2
		&::before
			content: ''
			position: absolute
			top: 50%
			transform: translate(0, -50%)
			background-image: url('../img/spritesheet.png')
			background-repeat: no-repeat
	.link-search
		box-sizing: border-box
		width: 32px
		height: 32px
		&::before
			left: 8px
			width: 17px
			height: 17px
			background-position: -5px -664px
		&:hover::before
			background-position: -5px -691px
	.link-login
		padding-left: 44px
		&::before
			left: 14px
			width: 21px
			height: 19px
			background-position: -5px -577px
		&:hover::before
			background-position: -5px -606px
	.link-cart
		min-width: 56px
		padding-left: 44px
		&::before
			left: 14px
			width: 21px
			height: 20px
			background-position: -5px -173px
		&:hover::before
			background-position: -5px -263px

.phone-block
	float: right
	margin-top: 15px
	clear: both
	text-align: right
	span
		display: block
	.schedule
		font-size: 14px
		font-weight: 700
	.phone
		font-size: 22px
		font-weight: 900

.slider
	margin-bottom: (40px - 23px)
	.slide
		display: none
		text-align: center
		padding-top: 273px
	.slide-title
		margin: 0
		padding-bottom: 30px
		width: 100%		
		font-size: 60px
		line-height: 60px
		font-weight: 900		
	.radio
		display: none
	#slider-radio-1:checked ~ .controls .label-1
		background-color: $color-white
	#slider-radio-2:checked ~ .controls .label-2
		background-color: $color-white
	#slider-radio-3:checked ~ .controls .label-3
		background-color: $color-white
	.radio:checked + .slide
		display: block
	.controls
		position: relative
		display: inline-block
		vertical-align: top
		left: 0
		bottom: 46px
	.label
		display: block
		float: left
		width: 19px
		height: 19px
		margin-right: 5px
		border: 2px solid $color-white
		border-radius: 50%
		cursor: pointer
		&:hover
			background-color: transparentize($color-white2, 0.6)

.banners
	margin-bottom: 30px

.banner
	padding: 14px 21px 22px
	border-radius: 12px
	&.banner-raspberry
		background: url('../img/raspberry.jpg') no-repeat center center
	&.banner-chocolate
		background: url('../img/chocolate.jpg') no-repeat center center
	.banner-title
		margin-top: 0
		margin-bottom: 15px
		font-weight: bold
		font-size: 35px
		line-height: 40px
	.banner-text
		margin-top: 15px
		margin-bottom: 45px
		font-weight: bold
		font-size: 18px
		line-height: 22px
	.btn
		float: right

.hits
	margin-bottom: 30px

.card
	margin-left: -10px
	margin-right: -10px
	padding: 10px
	text-align: center
	border-radius: 6px
	transition: all 0.3s
	&:hover
		background-color: transparentize($color-white2, 0.8)
		box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.3)
		.card-btn
			//display: inline-block
	.card-img-wrap
		position: relative
	.card-img
		width: 100%
		height: auto
	.card-icon-banner
		content: ''
		position: absolute
		top: 0
		left: 0		
	.icon-hit
		width: 61px
		height: 61px
		background: url('../img/hit.png') no-repeat 0 0
	.card-price
		position: absolute
		left: 0
		bottom: 1px
		font-weight: bold		
		line-height: 45px
		text-shadow: 1px 1px 3px rgba(#313235, 0.5)
	.card-price-fz45
		font-size: 45px
	.card-price-fz30
		font-size: 30px
	.card-price-ruble
		display: inline-block
		vertical-align: top
		width: 36px
		height: 45px
		background: url('../img/icon-ruble.png') no-repeat 50% 50%
	.card-link
		display: block
		margin-top: 13px
		font-weight: 500
		color: $color-white
		&:hover,
		&:active
			color: $color-orange
	.card-btn
		display: none
		margin-top: 20px
		margin-bottom: 10px

.about
	.about-inner
		padding: 24px 21px
		color: $color-dark-grey
		background: url('../img/wafer.jpg')
		border-radius: 12px
	.about-title
		font-size: 24px
		font-weight: 500
		line-height: 30px
	.about-column
		box-sizing: border-box
		float: left
		width: 50%
	.about-column-left
		padding-left: 58px
		padding-right: $col-padding
	.about-column-right
		padding-left: ($col-padding + 58px)
	.about-item-text
		position: relative
		margin-top: 20px
		margin-bottom: 0
		.icon
			position: absolute
			left: -58px
			top: -14px


.clearfix::after
	content: ''
	display: table
	clear: both
