@import 'bourbon'
@import 'variables'

.ul-reset
	margin: 0
	padding: 0
	list-style-type: none

button
	border: none

textarea
	resize: none

img
	display: block

.icon
	display: block
	background-image: url(../img/spritesheet.png)
	background-repeat: no-repeat

.icon-icecream
	width: 49px
	height: 49px
	background-position: -5px -417px

.icon-leaf
	width: 49px
	height: 49px
	background-position: -5px -518px

.icon-cow
	width: 48px
	height: 49px
	background-position: -5px -293px

.icon-thermometer
	width: 48px
	height: 49px
	background-position: -5px -719px

.icon-twitter
	width: 33px
	height: 32px
	background-position: -5px -778px

.icon-instagram
	width: 32px
	height: 32px
	background-position: -5px -476px

.icon-facebook
	width: 32px
	height: 32px
	background-position: -5px -352px

.icon-vk
	width: 32px
	height: 32px
	background-position: -5px -820px

.icon-heart
	width: 15px
	height: 13px
	background-position: -5px -394px

.icon-checkbox-checked
	width: 20px
	height: 20px
	background-position: -5px -83px

.icon-arrow-prev
	width: 9px
	height: 14px
	background-position: -5px -5px

.icon-arrow-next
	width: 9px
	height: 14px
	background-position: -5px -29px

input[type="text"],
input[type="email"],
input[type="password"],
textarea
	padding: 9px 14px
	font-family: 'Roboto', $helvetica
	font-weight: 700
	font-size: 16px
	line-height: 24px
	border: 1px solid #d3d3d2
	border-radius: 4px
	color: $color-dark-grey
	background-color: $color-white
	outline: none

input[type="text"]:hover,
input[type="email"]:hover,
input[type="password"]:hover,
textarea:hover
	border: 1px solid #c7c6c5
	box-shadow: inset 0 0 0 1px #c7c6c5

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus
	border: 1px solid #8fbdec
	box-shadow: inset 0 0 0 1px #8fbdec

:-ms-input-placeholder
	font-weight: 400
	color: #9b9b9b

:-moz-placeholder
	font-weight: 400
	color: #9b9b9b

::-webkit-input-placeholder
	font-weight: 400
	color: #9b9b9b

::-moz-placeholder
	font-weight: 400
	color: #9b9b9b

:focus:-ms-input-placeholder
	color: transparent

:focus:-moz-placeholder
	color: transparent

:focus::-webkit-input-placeholder
	color: transparent

:focus::-moz-placeholder
	color: transparent

.light-link
	text-decoration: underline
	color: $color-white !important
	&:hover,
	&:active
		color: #ffbc9e !important

.dark-link
	text-decoration: underline
	color: $color-dark-grey !important
	&:hover,
	&:active
		color: #ec593c !important

.btn
	display: inline-block
	font-weight: bold
	color: $color-white
	text-decoration: none
	background: #e74b36
	background: linear-gradient(to top, #e74b36, #f26843)
	border-bottom: 2px solid rgba(#ac1000, 0.64)
	//box-shadow: 0 3px 3px 0 rgba(#ac1000, 0.64)
	cursor: pointer
	&:hover
		background: #ec6f5e
		background: linear-gradient(to top, #ec6f5e, #f58669)
		border-bottom: 2px solid #ac1000
		//box-shadow: 0 3px 3px 0 #ac1000
	&:active
		background: #e1613e
		background: linear-gradient(to top, #e1613e, #d74632)
		border-bottom: none
		border-top: 2px solid #942718
		//box-shadow: inset 0 3px 3px 0 #942718

.btn-large	
	padding: 0 50px
	font-size: 32px	
	line-height: 63px
	border-radius: 30px
	text-shadow: 0 2px 5px rgba(#a0200b, 0.76)

.btn-medium
	padding: 0 22px
	font-size: 18px
	line-height: 44px
	border-radius: 22px

.btn-small
	padding: 9px 30px
	font-size: 15px
	line-height: 17px	
	border-radius: 18px

.container
	position: relative
	box-sizing: border-box
	max-width: 1200px
	min-width: 900px
	padding: 0 $container-padding
	margin: 0 auto

.row
	box-sizing: border-box
	margin-left: -$col-padding
	margin-right: -$col-padding

.col-2,
.col-4
	box-sizing: border-box
	float: left
	margin: 0
	padding: 0 $col-padding

.col-2
	width: 50%

.col-4
	width: 25%

body
	position: relative
	font-family: 'Roboto', $helvetica
	font-weight: 400
	font-size: 16px
	line-height: 22px
	color: $color-white
	.body-bg-icecream-wrap,
	.body-bg-icecream
		width: 100%
		height: 100%
	.body-bg-icecream-wrap
		content: ''
		position: absolute
		z-index: -100
		top: 0
		left: 0
	&.body-bg-1 
		background-color: $color-bg-1
		.body-bg-icecream
			background: url('../img/slider-icecream-1.png') no-repeat center top
	&.body-bg-2
		background-color: $color-bg-2
		.body-bg-icecream
			background: url('../img/slider-icecream-2.png') no-repeat center top	
	&.body-bg-3
		background-color: $color-bg-3
		.body-bg-icecream
			background: url('../img/slider-icecream-3.png') no-repeat center top

.header
	position: relative
	padding-top: 23px
	color: $color-white
	a
		color: $color-white

.logo
	position: absolute
	top: -14px
	left: 21px
	.logo-link
		display: block
	.logo-img
		width: 154px
		height: 64px

.header-list
	font-size: 0
	&>li
		position: relative		
		display: inline-block
		vertical-align: top
		line-height: 32px
		&:before
			content: none
			position: absolute
			left: 0
			top: 31px
			display: block
			height: 9px
			width: 100%
		&:hover
			&:before
				content: ''
		&>a
			display: block
			border-radius: 14px

.header-slidedown
	height: 0
	overflow: hidden
	transition: height 0.4s
	position: absolute
	top: 37px
	z-index: 10
	background-color: $color-white2
	box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.3)
	border-radius: 4px

.navigation-list
	@extend .header-list
	float: left
	margin-left: 164px
	.navigation-item		
		font-size: 16px
		&:hover
			.navigation-link
				text-decoration: none
				color: $color-dark-grey
				background-color: $color-white2
			.navigation-submenu
				height: 162px
	.navigation-link
		padding: 0 14px
		font-weight: 700
		&:active
			text-decoration: none
			color: $color-dark-grey
			background-color: $color-white2
			box-shadow: inset 0 2px 1px 0 #696969
		&.active
			text-decoration: none
			color: $color-white
			background-color: $color-red

.navigation-submenu
	left: -7px
	.submenu-title,
	a
		display: block		
		font-size: 14px		
		color: $color-dark-grey
	.submenu-title
		margin: 0 6px
		padding: 11px 15px
		font-weight: 700
		line-height: 16px
		border-bottom: 1px solid #d1d0ce
	a
		margin: 2px 0
		padding: 0 21px
		line-height: 28px
		text-decoration: none
		white-space: nowrap
		color: $color-dark-grey
		&:hover
			background-color: #fbded7
		&:active
			background-color: #f6b5a5
		&.active
			background-color: #d07058

.user-block
	@extend .header-list
	float: right
	.user-block-item
		font-size: 14px
		margin-left: 10px
		&:hover
			.user-block-link
				color: $color-dark-grey
				background-color: $color-white2
			.link-search::before
				background-position: -5px -691px
			.link-login::before
				background-position: -5px -606px
			.link-cart::before
				background-position: -5px -263px
			.link-cart-filled::before
				background-position: -5px -233px
			.search-block
				height: 74px
				z-index: 101
			.login-block
				height: 185px
				z-index: 101
			.cart-block
				height: 240px
				z-index: 101
	.user-block-link
		position: relative
		padding-right: 16px
		text-decoration: none
		font-weight: 500
		background-color: transparentize($color-white, 0.8)		
		&::before
			content: ''
			position: absolute
			top: 50%
			transform: translate(0, -50%)
			background-image: url('../img/spritesheet.png')
			background-repeat: no-repeat
	.link-search
		box-sizing: border-box
		width: 32px
		height: 32px
		&::before
			left: 8px
			width: 17px
			height: 17px
			background-position: -5px -664px
	.link-login
		padding-left: 44px
		&::before
			left: 14px
			width: 21px
			height: 19px
			background-position: -5px -577px
	.link-cart
		min-width: 56px
		padding-left: 44px
		&::before
			left: 14px
			width: 21px
			height: 20px
			background-position: -5px -173px
	.link-cart-filled
		&::before
			background-position: -5px -203px

.search-block
	right: 0
	input
		box-sizing: border-box
		width: 240px
		margin: 15px

.login-block
	right: 0
	.login-block-form
		padding: 20px 15px 15px
	input
		box-sizing: border-box
		display: block
		width: 240px
		margin-bottom: 10px
	.btn
		float: left
		margin-top: 5px
	a
		display: block
		padding-left: 120px
		font-size: 13px
		line-height: 23px
		
.cart-block
	right: 0
	.cart-block-content
		min-width: 510px
		padding: 26px 15px 20px
		font-size: 13px
		line-height: 16px
		color: $color-medium-grey
	.cart-block-item
		box-sizing: border-box
		position: relative
		min-height: 33px
		padding-top: 10px
		padding-left: 73px
		margin-bottom: 18px
	.cart-item-remove
		position: absolute
		left: 2px
		top: 12px
		width: 11px
		height: 11px
		cursor: pointer
		&::before,
		&::after
			content: ''
			position: absolute
			left: -2px
			top: 5px
			width: 15px
			height: 1px
			background-color: #333
		&::before
			transform: rotate(45deg)
		&::after
			transform: rotate(-45deg)
		&:hover::before,
		&:hover::after
			background-color: $color-orange
	.cart-item-icon
		position: absolute
		top: 0
		left: 26px
		width: 33px
		height: 33px
	.cart-item-name
		display: inline-block
		vertical-align: top
		width: 220px
		margin-right: 11px
	.cart-item-weight
		display: inline-block
		vertical-align: top
		min-width: 110px
		margin-right: 11px
		text-align: right
	.cart-item-price
		display: inline-block
		vertical-align: top
		min-width: 60px
		text-align: right
	.cart-block-total-price
		display: block
		padding-right: 10px
		padding-top: 6px
		margin-bottom: 15px
		text-align: right
		font-weight: 700
		font-size: 15px
	.btn
		float: right

.phone-block
	float: right
	margin-top: 15px
	clear: both
	text-align: right
	span
		display: block
	.schedule
		font-size: 14px
		font-weight: 700
	.phone
		font-size: 22px
		font-weight: 900

.bread-crumbs
	float: left
	margin-top: 43px
	font-size: 0
	line-height: 0
	li
		display: inline-block
		font-size: 14px
		line-height: 16px
	a,
	span
		margin: 0 8px
	li:first-child>a
		margin-left: 0


.slider
	margin-bottom: (40px - 23px)
	.slide
		display: none
		text-align: center
		padding-top: 273px
	.slide-title
		margin: 0
		padding-bottom: 30px
		width: 100%		
		font-size: 60px
		line-height: 60px
		font-weight: 900		
	.radio
		display: none
	#slider-radio-1:checked ~ .controls .label-1
		background-color: $color-white
	#slider-radio-2:checked ~ .controls .label-2
		background-color: $color-white
	#slider-radio-3:checked ~ .controls .label-3
		background-color: $color-white
	.radio:checked + .slide
		display: block
	.controls
		position: relative
		display: inline-block
		vertical-align: top
		left: 0
		bottom: 46px
	.label
		display: block
		float: left
		width: 19px
		height: 19px
		margin-right: 5px
		border: 2px solid $color-white
		border-radius: 50%
		cursor: pointer
		&:hover
			background-color: transparentize($color-white2, 0.6)

.banners
	margin-bottom: 30px

.banner
	padding: 14px 21px 22px 21px
	border-radius: 12px
	&.banner-raspberry
		background: url('../img/raspberry.jpg') no-repeat center center
	&.banner-chocolate
		background: url('../img/chocolate.jpg') no-repeat center center
	.banner-title
		margin-top: 0
		margin-bottom: 15px
		font-weight: bold
		font-size: 35px
		line-height: 40px
	.banner-text
		margin-top: 15px
		margin-bottom: 45px
		font-weight: bold
		font-size: 18px
		line-height: 22px
	.btn
		float: right

.hits
	margin-bottom: 30px

.card
	display: block
	margin-left: -10px
	margin-right: -10px
	padding: 10px
	text-align: center
	border-radius: 6px
	transition: all 0.3s
	cursor: pointer
	&:hover
		background-color: transparentize($color-white2, 0.8)
		box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.3)
	.card-img-wrap
		position: relative
	.card-img
		width: 100%
		height: auto
	.card-icon-banner
		content: ''
		position: absolute
		top: 0
		left: 0		
	.icon-hit
		width: 61px
		height: 61px
		background: url('../img/hit.png') no-repeat 0 0
	.card-price
		position: absolute
		left: 0
		bottom: 1px
		font-weight: bold		
		line-height: 45px
		text-shadow: 1px 1px 3px rgba(#313235, 0.5)
	.card-price-fz45
		font-size: 45px
	.card-price-fz30
		font-size: 30px
	.card-price-ruble
		display: inline-block
		vertical-align: top
		width: 36px
		height: 45px
		background: url('../img/icon-ruble.png') no-repeat 50% 50%
	.card-descr
		display: block
		margin-top: 13px
		font-weight: 500
		color: $color-white
	.card-link
		display: block
		margin-top: 13px
		font-weight: 500
		color: $color-white
		&:hover,
		&:active
			color: $color-orange
	.card-btn
		display: none
		margin-top: 20px
		margin-bottom: 10px

.about
	margin-bottom: 40px
	.about-inner
		padding: 24px 21px
		color: $color-dark-grey
		background: url('../img/wafer.jpg')
		border-radius: 12px
	.about-title
		font-size: 24px
		font-weight: 500
		line-height: 30px
	.about-column
		box-sizing: border-box
		float: left
		width: 50%
	.about-column-left
		padding-left: 58px
		padding-right: $col-padding
	.about-column-right
		padding-left: ($col-padding + 58px)
	.about-item-text
		position: relative
		margin-top: 20px
		margin-bottom: 0
		.icon
			position: absolute
			left: -58px
			top: -14px

.news
	margin-bottom: 40px

.news-blog
	box-sizing: border-box
	min-height: 220px
	padding: 22px 20px 22px 20px
	border-radius: 12px
	background: url('../img/bg-news.jpg') no-repeat center center
	.news-blog-descr
		display: block
		margin-bottom: 3px
		font-weight: 500
		color: $color-medium-grey
	.news-blog-link
		font-weight: bold
		font-size: 24px
		line-height: 29px
		color: $color-dark-grey
		&:hover,
		&:active
			color: #ec593c

.news-delivery
	box-sizing: border-box
	min-height: 220px
	padding: 6px
	background: url('../img/bg-delivery.jpg') repeat center center
	border-radius: 12px
	.news-delivery-inner
		padding: 28px 21px 35px 21px
		background-color: $color-white2
		border-radius: 12px
	.news-delivery-descr
		margin-top: 0
		margin-bottom: 34px
		color: $color-medium-grey
	.news-delivery-email
		width: 60%
	.news-delivery-submit
		float: right

.map
	width: 100%
	min-width: 900px
	height: 430px
	background: url('../img/map.jpg') no-repeat center center

.map-container-content
	position: relative

.map-overlay
	position: absolute
	z-index: 100
	right: 0
	top: 65px
	box-sizing: border-box
	width: 302px
	padding: 28px 25px 30px 25px
	font-size: 14px
	line-height: 20px
	color: $color-dark-grey
	background-color: $color-white
	border-radius: 12px
	span
		display: inline-block
		vertical-align: baseline
		font-weight: bold
		font-size: 18px
		line-height: 24px
	.map-addres
		margin-bottom: 18px
	.map-phone
		margin-top: 3px
	.btn
		box-sizing: border-box
		width: 100%
		margin-top: 23px

.footer
	padding-top: 35px
	padding-bottom: 25px

.social-btns
	float: left
	li
		float: left
		margin-right: 11px
	a
		display: block
		border: 4px solid #c2cec7
		border-radius: 100%
		&:hover
			border-color: #dbe3de
			box-shadow: 0 0 0 1px #dbe3de
		&:active
			border-color: #d9e1dd
			box-shadow: 0 0 0 1px #d9e1dd
			.icon
				border-radius: 100%
				box-shadow: inset 0 2px 2px 0 #9b9b9b

.copyright-block
	float: right
	margin-top: -15px
	.html-academy-logo-link
		display: block
	span
		font-size: 12px
		line-height: 14px

.footer-links-block
	a
		display: block
		font-size: 13px
		line-height: 22px

.footer-links-block-left
	float: right
	padding-right: 27px
	.link-producer
		position: relative
		font-weight: bold
		.icon
			position: absolute
			top: 3px
			left: -22px

.footer-links-block-right
	float: left
	margin-left: -21px


.screen-overlay
	display: none
	position: fixed
	z-index: 1000
	top: 0
	left: 0
	width: 100%
	height: 100%
	background-color: rgba(0, 0, 0, 0.6)

.feedback-form
	position: fixed
	top: 50%
	left: 50%
	width: 430px
	padding: 17px 25px 25px 25px
	transform: translate(-50%, -50%)
	background-color: $color-white2
	border-radius: 8px
	.close-button
		display: block
		position: absolute
		right: 16px
		top: 16px
		width: 18px
		height: 18px
		cursor: pointer
	.close-button::before,
	.close-button::after
		content: ''
		position: absolute
		left: -2px
		top: 8px
		width: 22px
		height: 2px
		background-color: #070707
	.close-button::before
		transform: rotate(45deg)
	.close-button::after	
		transform: rotate(-45deg)
	.close-button:hover::before,
	.close-button:hover::after
		background-color: $color-orange
	.feedback-form-title
		margin: 0
		font-weight: 500
		font-size: 24px
		line-height: 24px
		color: $color-dark-grey
	input
		box-sizing: border-box
		display: block
		width: 267px
		margin-top: 20px
	textarea
		display: block
		box-sizing: border-box
		width: 100%
		height: 155px
		margin-top: 20px
	.btn
		float: right
		margin-top: 25px

.catalog-title
	margin-top: 3px
	margin-bottom: 28px
	font-weight: bold
	font-size: 35px
	line-height: 40px

.catalog-form
	display: block
	margin-bottom: 30px
	.input-group-wrapper
		display: inline-block
		vertical-align: top
		margin-right: 11px
		margin-bottom: 16px
	.input-group-wrapper-fat
		margin-right: 0
	.input-group-wrapper-fillers
		margin-bottom: 0
	.input-group-wrapper-title
		display: block
		padding-left: 15px
		padding-bottom: 5px
		font-weight: 500
		font-size: 14px
		line-height: 16px
	select,
	option,
	label,
	button
		font-family: "Roboto", $helvetica
		font-weight: 500
		font-size: 16px
		line-height: 20px
	select,
	.radio-group,
	.checkbox-group,
	.price-group
		display: block
		box-sizing: border-box
		height: 36px
		padding: 8px 15px 8px 15px			
		border-radius: 16px
		background: transparentize($color-white2, 0.8)
		color: $color-white		
	select		
		width: 193px						
		border: none
		//-webkit-appearance: none
		outline: none
		&:hover,
		&:focus
			color: $color-dark-grey
			background-color: $color-white
	.range
		position: relative
		width: 188px
		height: 12px
		padding-top: 8px
		cursor: pointer
	.range-ruler
		width: 100%
		height: 4px
		background-color: transparentize($color-white2, 0.5)
	.range-thumb
		position: absolute
		top: 0
		width: 20px
		height: 20px
		background-color: $color-white2
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1)
		border-radius: 100%
		cursor: pointer
	.range-thumb-min
		left: 20px
	.range-thumb-max
		right: 50px
	.range-filler
		position: absolute
		height: 4px
		left: 20px
		right: 50px
		background-color: $color-white2
	input[type='radio']
		display: none
	input[type='radio']:checked + .custom-radio::before
		content: ''
	input[type='checkbox']
		display: none
	input[type='checkbox']:checked + .custom-checkbox
		background: url(../img/checkbox.png) no-repeat center center
	label
		position: relative
		display: inline-block
		vertical-align: top
		padding-left: 30px
		margin-right: 20px
		cursor: pointer
		&:last-child
			margin-right: 0
		&:hover .custom-radio,
		&:hover .custom-checkbox
			box-shadow: 0 0 0 1px $color-white
	.custom-radio
		box-sizing: border-box
		display: block
		position: absolute
		left: 0
		top: 0
		width: 20px
		height: 20px
		border: 2px solid $color-white
		border-radius: 100%
		&::before
			position: absolute
			top: 3px
			left: 3px
			width: 10px
			height: 10px
			background-color: $color-white
			border-radius: 100%
	.custom-checkbox
		box-sizing: border-box
		display: block
		position: absolute
		left: 0
		top: 0
		width: 20px
		height: 20px
		border: 2px solid $color-white
		border-radius: 3px
	button
		box-sizing: border-box
		display: inline-block
		vertical-align: bottom
		height: 36px
		padding: 6px 30px 8px 30px
		border: 2px solid $color-white2			
		border-radius: 16px
		background: transparentize($color-white2, 0.8)
		color: $color-white
		cursor: pointer
		outline: none
		&:hover
			color: $color-dark-grey
			background-color: #fafbfb
		&:active
			color: $color-dark-grey
			background-color: #eaeaea
			box-shadow: inset 0 2px 1px 0 #696969

.catalog-products
	.row
		margin-bottom: 15px
		&:last-child
			margin-bottom: 0

.catalog-pagination
	padding-bottom: 40px
	padding-top: 12px
	ul
		float: right
	li
		float: left
		margin-left: 2px
	a,
	span
		position: relative
		display: block
		width: 26px
		height: 26px
		font-weight: 500
		font-size: 16px
		line-height: 26px
		text-decoration: none
		text-align: center
		color: $color-white
		border-radius: 100%
	a:hover
		background-color: rgba(255, 255, 255, 0.2)
	a:active
	a.active
		background-color: $color-white
		color: $color-dark-grey
	.blocked
		cursor: default
		opacity: 0.3
	.prev-btn
		margin-right: 5px
	.next-btn
		margin-left: 5px
	.icon
		+absolute-align()



.catalog-footer
	padding-top: 20px
	border-top: 1px solid rgba(255, 255, 255, 0.3)
	.copyright-block
		margin-top: 0

.clearfix::after
	content: ''
	display: table
	clear: both


@import 'media'
